<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
table, tr, td {
	border-collapse: collapse;
}
td {
	padding: 5px;
}
#container {
	width: 80%;
	margin: 0 auto;
}
.myclass1 {
	background-color: orange; 
}
.myclass2 {
	color: red; 
}
</style>
</head>
<body>
	<th:block th:replace="~{/layout/basicLayout :: setContent(~{this::content2})}">
		<th:block th:fragment="content2">
			<div id="container">
				<h1>타임리프 연습</h1>
				<p th:text="${@environment.getProperty('server.servlet.context-path')}"> </p>
				<div th:with="path=${@environment.getProperty('server.servlet.context-path')}">
					<p>[[${path}]]</p>
					<p th:text="${param.myname}">파라미터 읽기</p>
					<p>session읽기:[[${session.loginUser}]]</p>
					<p>session읽기:[[${session.loginUser.mname}]]</p>
				</div>
				
				<h1>FreeBoard 목록</h1>
				<table border="1">
					<tr>
						<td>index</td>
						<td>count</td>
						<td>번호</td>
						<td>제목</td>
						<td>내용</td>
						<td>작성자</td>
						<td>등록일</td>
						<td>수정일</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>댓글건수</td>
					</tr>
					<tr 
						th:each="board, iterStatus:${boardlist}"
						th:class="${iterStatus.odd}?'myclass1'"
						th:classappend="${iterStatus.first or iterStatus.last}?'myclass2'"
						th:with="target1='user1', target2='user2'"
						>
						<td>[[${iterStatus.index}]]</td>
						<td>[[${iterStatus.count}]] 
							건수:[[${iterStatus.size}]]건
							처음?:[[${iterStatus.first}]]					
						</td>
						<td>
							<a th:href="@{/freeboard/detail2(bno=${board.bno})}" th:text="${board.bno}"></a>
							<a th:href="@{/freeboard/detail/{bno}(bno=${board.bno})}" th:text="${board.bno}"></a>
						</td>
						<td th:text="${board.title}"></td>
						<td th:text="${board.content}"></td>
						<td>[[${board.writer}]]</td>
						<td>[[${#dates.format(board.regDate,'yyyy-MM-dd')}]]</td>
						<td>[[${board.updateDate}]]</td>
						<td>
							<button th:if="${board.writer==target1}">수정</button>
							<button th:unless="${board.writer==target1}">View</button>
						</td>
						<td>
							<p th:text="${board.writer==target2?'주인':'손님'}"></p>
						</td>
						<td>[[${#lists.size(board.replies)}]]</td>
					</tr>
				</table>
			</div>
			<script th:inline="javascript">
			 	var blist = /*[[${boardlist}]]*/[];
			 	blist.forEach(item=>{console.log(item);});
			</script>
		</th:block>
	</th:block>
</body>
</html>