<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:replace="~{/layout/basicLayout :: setContent(~{this::content2})}">
		<th:block th:fragment="content2">
			<h1>Board 상세보기</h1>
			<form th:action="@{/webboard/update}" method="post">
				  <div class="mb-3 row">
				    <label for="staticEmail" class="col-sm-2 col-form-label">bno</label>
				    <div class="col-sm-10">
				      <input type="text" readonly class="form-control" name="bno" th:value="${board.bno}">
				    </div>
				  </div>
				  <div class="mb-3 row">
				    <label for="staticEmail" class="col-sm-2 col-form-label">title</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" name="title" th:value="${board.title}">
				    </div>
				  </div>
				  <div class="mb-3 row">
				    <label for="staticEmail" class="col-sm-2 col-form-label">content</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" name="content" th:value="${board.content}">
				    </div>
				  </div>
				  <div class="mb-3 row">
				    <label for="staticEmail" class="col-sm-2 col-form-label">mname</label>
				    <div class="col-sm-10">
				      <input type="text" readonly class="form-control" name="writer" th:value="${board.writer.mname}">
				      <input type="hidden" name="mid" th:value="${board.writer.mid}">
				    </div>
				  </div>
				  <div class="mb-3 row">
				    <label for="staticEmail" class="col-sm-2 col-form-label">작성일</label>
				    <div class="col-sm-10">
				      <input type="text" readonly class="form-control" name="regdate" th:value="${board.regdate}">
				    </div>
				  </div>
				  <div class="mb-3 row">
				    <label for="staticEmail" class="col-sm-2 col-form-label">수정일</label>
				    <div class="col-sm-10">
				      <input type="text" readonly class="form-control" name="updatedate" th:value="${board.updatedate}">
				    </div>
				  </div>
				  <div class="mb-3 row">
				  	<input type="submit" value="수정" class="btn btn-success">
				  </div>
			</form>
		</th:block>
	</th:block>
</body>
</html>